Checks: "*,
         -abseil-*,
         -altera-*,
         -android-*,
         -boost-*,
         -darwin-*,
         -fuchsia-*,
         -google-*,
         -llvm-*,
         -llvmlibc-*,
         -zircon-*,
         -modernize-use-trailing-return-type,
         -readability-identifier-length,
         -misc-const-correctness,
         -hicpp-exception-baseclass,
"
WarningsAsErrors: true
HeaderFilterRegex: ''
UseColor: true
CheckOptions:
  readability-magic-numbers.IgnoredFloatingPointValues: "0.0,1.0,10.0,360.0,180.0"
