Checks: "*,
         -abseil-*,
         -altera-*,
         -android-*,
         -boost-*,
         -darwin-*,
         -fuchsia-*,
         -google-*,
         -llvm-*,
         -llvmlibc-*,
         -zircon-*,
         -modernize-use-trailing-return-type,
         -readability-identifier-length,
"
WarningsAsErrors: ''
HeaderFileExtensions: ['', 'h']
HeaderFilterRegex: ''
UseColor: true